
h1{
text-align: center;
margin: auto;
margin-top: 2%;
margin-bottom: 4%;
}
.contact{

  margin-top: 3%;
}

img{

text-align: center;
margin: auto;
width:34%;
}
p{
  line-height: 1.35em;
  font-size: 120%;
  text-align: center;
margin: auto;
width: 60%;
}

.textrow1{
    width:30%;
  text-align:center;
display: inline-block;

}
